# Tugas Akhir TA-11 Sistem Informasi T.A. 2019/2020
- Association Analysis using Frequent Pattern Growth-Genetic Algorithm for Restaurant Recommendation System
- (12S16013) Panji Jonatan Situmorang dan (12S16051) Hesti Rugun Juli Arta Siagian
- Notebook ini ditujukan untuk mendemonstrasikan sistem yang dirancang.

## 1. Muat Pustaka Python

In [ ]:
import ast
import math
import numpy as np
import pandas as pd
import random
import re
import time

# Gunakan modul fpgrowth dalam mlxtend library untuk melakukan
# FP-Growth
try:
    import mlxtend
    from mlxtend.preprocessing import TransactionEncoder
    from mlxtend.frequent_patterns import fpgrowth
    from mlxtend.frequent_patterns import association_rules
except:
    %pip install mlxtend --upgrade
    import mlxtend
    from mlxtend.preprocessing import TransactionEncoder
    from mlxtend.frequent_patterns import fpgrowth
    from mlxtend.frequent_patterns import association_rules

# Gunakan deap library untuk melakukan
# Genetic Algorithm
try:
    # Gunakan deap library untuk melakukan
    # Genetic Algorithm
    from deap import base
    from deap import creator
    from deap import tools
except:
    %pip install deap --upgrade
    from deap import base
    from deap import creator
    from deap import tools

## 2. Muat Data

Pada _cell_ berikut ini dilakukan pembacaan set data **"Restaurant reviews"** dan **"Restaurant names and Metadata.csv"**. Keduanya digabungkan dan disimpan dalam struktur data _DataFrame_ bernama <code>df_tr_restoran</code>.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Menyimpan set data review restoran dalam DataFrame df_review_restoran
df_review_restoran = pd.read_csv("/content/drive/MyDrive/Restaurant reviews.csv",
                                 usecols = ["Restaurant", "Reviewer", "Rating"])

# Menyimpan set data metadata restoran dalam DataFrame df_md_restoran
df_md_restoran = pd.read_csv("/content/drive/MyDrive/Restaurant names and Metadata.csv",
                             usecols = ["Name", "Cuisines"])

# Menyimpan gabungan df_review_restoran dan df_md_restoran dalam DataFrame df_tr_restoran
df_tr_restoran = df_md_restoran.merge(df_review_restoran,
                                      left_on = "Name",
                                      right_on = "Restaurant",
                                      how = "inner").drop(["Name"], axis = 1)

# Ganti nama kolom "Restaurant" menjadi "Preferred Restaurant"
df_tr_restoran = df_tr_restoran.rename(columns={"Restaurant": "Preferred Restaurant"})

## 3. Prapemrosesan

In [ ]:
# Hapus baris data yang memiliki setidaknya satu nilai atribut hilang (NaN / None)
df_tr_restoran = df_tr_restoran.dropna(axis = 0, how ='any')
df_tr_restoran = df_tr_restoran.reset_index(drop=True)

In [ ]:
# Pastikan tipe data Rating adalah numerik 
df_tr_restoran['Rating'] = pd.to_numeric(df_tr_restoran['Rating'], errors='coerce')

# Pilih restoran dengan rating baik (rating >= 3)
df_tr_restoran = df_tr_restoran[df_tr_restoran['Rating'] >= 3]
df_tr_restoran = df_tr_restoran.drop(['Rating'], axis=1)
df_tr_restoran = df_tr_restoran.reset_index(drop=True)

In [ ]:
# Pengelompokkan restoran berdasarkan reviewer
df_tr_restoran = df_tr_restoran.groupby(by = ["Reviewer"])["Preferred Restaurant"].apply(list).reset_index()
display(df_tr_restoran.head())

                      Reviewer               Preferred Restaurant
0                    #FOODPORN  [Zega - Sheraton Hyderabad Hotel]
1          #chloesviews // CAH                          [eat.fit]
2                         $ign                            [SKYHY]
3  @FuloriBinaChutneyKaiseBani                 [Chinese Pavilion]
4            @Vignesh #FoodMad                      [Owm Nom Nom]

In [ ]:
# Pengkodean Label pada nama restoran  
# Simpan set pemetaan dalam restaurant_replace_map_comp
restaurant_labels = np.unique(np.concatenate([np.unique(row) for row in df_tr_restoran['Preferred Restaurant']])).tolist()
restaurant_replace_map_comp = {v: k for k, v in zip(list(range(1,len(restaurant_labels)+1)), restaurant_labels)}

# Ganti setiap nama restoran dengan indeks yang sesuai 
for i, row in df_tr_restoran.iterrows():
    res = [restaurant_replace_map_comp.get(ele, ele) for ele in row['Preferred Restaurant']]
    df_tr_restoran.at[i, 'Preferred Restaurant'] = np.array(res)

In [ ]:
display(df_tr_restoran.tail())

                 Reviewer Preferred Restaurant
5626  ‡∞µ‡∞ø‡∞ú‡∞Ø‡±ç ‡∞ï‡±Å‡∞Æ‡∞æ‡∞∞‡±ç ‡∞§‡±Ü‡∞ú‡∞µ‡∞§‡±ç                 [44]
5627       ‡≤Ö‡≤≠‡≤ø‡≤∑‡≥á‡≤ï‡≥ç ‡≤â‡≤™‡≤æ‡≤ß‡≥ç‡≤Ø                 [80]
5628        ‚úåÔ∏è‚úåÔ∏èReddy ü•ÇüçΩÔ∏è                 [47]
5629              ‚úîÔ∏è Sonu                 [76]
5630                  üçõüç≤ü•ó             [67, 34]

In [ ]:
# Simpan hasil prapemrosesan dalam Numpy Array np_transaksi_restoran
np_transaksi_restoran = df_tr_restoran['Preferred Restaurant'].to_numpy()

## 4. Penerapan FP-Growth

In [ ]:
dataset = df_tr_restoran['Preferred Restaurant'].tolist()

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
display(df.tail())

        1      2      3      4      5    ...    96     97     98     99     100
5626  False  False  False  False  False  ...  False  False  False  False  False
5627  False  False  False  False  False  ...  False  False  False  False  False
5628  False  False  False  False  False  ...  False  False  False  False  False
5629  False  False  False  False  False  ...  False  False  False  False  False
5630  False  False  False  False  False  ...  False  False  False  False  False

[5 rows x 100 columns]

In [ ]:
# minimal 2 kali dari seluruh transaksi
df_frequent_itemsets = fpgrowth(df, min_support=(2/len(df)), max_len=2, use_colnames=True)

In [ ]:
df_rules = association_rules(df_frequent_itemsets, metric="confidence", min_threshold=(2/len(df)))
# df_rules = association_rules(df_frequent_itemsets, metric="confidence", min_threshold=0.5)

In [ ]:
df_rules.tail()

     antecedents consequents  ...  leverage  conviction
1709        (61)        (67)  ...  0.000234    1.018287
1710        (26)        (67)  ...  0.000216    1.014639
1711        (67)        (26)  ...  0.000216    1.024301
1712        (67)        (95)  ...  0.000245    1.027626
1713        (95)        (67)  ...  0.000245    1.021250

[5 rows x 9 columns]

In [ ]:
# Fungsi _Encoding_ dan _Decoding_ pada Aturan Asosiasi
# Michigan Encoding
def michigan_encoding(df_association_rules, list_items):
    list_encoded_association_rules = []

    for tuple_rule in df_association_rules.itertuples():
        list_encoded_rule = []
        
        for item in list_items:
            if item in tuple_rule.antecedents:
                list_encoded_rule.append('01')
            elif item in tuple_rule.consequents:
                list_encoded_rule.append('10')
            else:
                list_encoded_rule.append('00')
        list_encoded_association_rules.append(list_encoded_rule)
    return list_encoded_association_rules

# Michigan Decoding
def michigan_decoding(list_encoded_association_rules, list_items):
    list_rules = []
    
    for encoded_rule in list_encoded_association_rules:
        antecedent = []
        consequent = []

        for idx, ele in enumerate(encoded_rule):
            if ele == '01':
                antecedent.append(list_items[idx])
            elif ele == '10':
                consequent.append(list_items[idx])
        list_rules.append([antecedent, consequent, encoded_rule])
    
    return pd.DataFrame(list_rules, columns=['antecedents', 'consequents', 'chromosome'])

Jalankan _encoding_.

In [ ]:
list_encoded_association_rules = michigan_encoding(df_rules, [*restaurant_replace_map_comp.values()])

In [ ]:
# cuplikan aturan asosiasi yang telah di-encode 
for index, rule in enumerate(list_encoded_association_rules):
    print(index, ":", str(rule))
    if index == 1:
        break

0 : ['00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '10', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '01']
1 : ['00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '01', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '10']

## 5. Penerapan Genetic Algorithm

**Creator**

Karena struktur aktual individu yang diperlukan dalam _genetic algorithm_ sangat bergantung pada kasus yang akan diselesaikan, maka DEAP _library_ tidak menyediakan struktur eksplisit apa pun. Namun, DEAP _library_ menyediakan _method_ untuk membuat wadah bagi atribut, terkait dengan _fitness_. _Method_ ini disebut <code>deap.creator</code>.

<code>creator</code> adalah "pabrik kelas" yang dapat kita gunakan untuk membuat kelas baru pada saat program dijalankan. Pemanggilannya dilengkapi dengan beberapa argumen. Argumen pertama yaitu nama yang diinginkan dari kelas baru yang akan dibuat, argumen kedua adalah kelas dasar yang akan diwarisi, dan argumen berikutnya adalah atribut kelas baru yang dibuat.

Pada _cell_ berikut ini, kita mendefinisikan sebuah kelas bernama **"FitnessMax"**. Kelas ini akan mewarisi kelas **"Fitness"** dari modul <code>deap.base</code>. Kelas ini juga akan memiliki atribut tambahan yang disebut **"weights"**. Perhatikan bahwa nilai **"weights"** disajikan dengan bentuk _tuple_ (1.0,). Dengan cara ini, kita secara eksplisit menyatakan bahwa kasus optimasi yang dikerjakan adalah memaksimalkan _fitness_ objektif tunggal.

In [ ]:
# # In the following cell, we define a class named "FitnessMax". 
# This class will inherit the "Fitness" class from the deep.base module. 
# This class will also have an additional attribute called "weights".

creator.create("FitnessMax", base.Fitness, weights=(1.0,))

Selanjutnya, kita buat kelas bernama **"Individual"**, yang akan mewarisi kelas **"list"** dan mengandung kelas **"FitnessMax"** yang telah kita definisikan sebelumnya dalam atribut **"fitness"**.

In [ ]:
# Next, we create a class named "Individual", 
# which will inherit the "list" class and contain the "FitnessMax" class 
# we defined earlier in the "fitness" attribute.

creator.create("Individual", list, fitness=creator.FitnessMax)

**Toolbox**

In [ ]:
toolbox = base.Toolbox()

**Evaluation Function**

- $ \mathrm{support}(A->C) = \mathrm{support}(A \cup C)$, range: [0, 1]



- $ \mathrm{confidence}(A->C) = \frac{\mathrm{support}(A \cup C)}{\mathrm{support}(A)}$, range: [0, 1]



- $ \mathrm{lift}(A->C) = \frac{\mathrm{confidence}(A->C)}{\mathrm{support}(C)}$, range: [0, inf]



- $ \mathrm{kulczynski}(A->C) = \frac{1}{2} (\frac{\mathrm{support}(A \cup C)}{\mathrm{support}(A)} + \frac{\mathrm{support}(A \cup C)}{\mathrm{support}(C)}) $, range: [0, 1]

In [ ]:
def safe_div(x,y):
    if y==0: return 0
    return x/y

def kulczynski(encoded_rule, np_data_transaksi, list_items):
    antecedent = []
    consequent = []

    for idx, ele in enumerate(encoded_rule):
        if ele == '01':
            antecedent.append(list_items[idx])
        elif ele == '10':
            consequent.append(list_items[idx])
    decoded_rule = antecedent + consequent

    support_rule = [bool(set(decoded_rule) and set(decoded_rule).issubset(set(sublist))) \
                    for sublist in np_data_transaksi].count(True) / len(np_data_transaksi)
    support_antecedent = [bool(set(antecedent) and set(antecedent).issubset(set(sublist))) \
                    for sublist in np_data_transaksi].count(True) / len(np_data_transaksi)
    support_consequent = [bool(set(consequent) and set(consequent).issubset(set(sublist))) \
                    for sublist in np_data_transaksi].count(True) / len(np_data_transaksi)
    kulczynski_rule = (1/2) * (safe_div(support_rule, support_antecedent) + safe_div(support_rule, support_consequent))
    
    return kulczynski_rule

def evalOneMax(individual):
    return kulczynski(individual, np_transaksi_restoran, [*restaurant_replace_map_comp.values()]),

**The Genetic Operators**

In [ ]:
#----------
# Registrasi Operator Genetik
#----------
# Goal registration / fitness function 'evalOneMax'
toolbox.register("evaluate", evalOneMax)

# Rcrossover operator registration with
# one point crossover technique
toolbox.register("mate", tools.cxOnePoint)

# Registration of mutation operators with DNA shuffling technique
# and probability of each DNA being transferred
toolbox.register("mutate", tools.mutShuffleIndexes, indpb=0.05)

# Operator registration with tournament selection technique
# to choose individuals in the next generation
# where each individual from the previous generation is replaced
# with 2 individuals of the current generation
toolbox.register("select", tools.selTournament, tournsize=2)

#----------

**Creating the Population**

In [ ]:
mins=[]
maxs=[]
means=[]
stds=[]

def main(): 
    pop = []
    # Conversion of data structure of each chromosome from 'list'
     # become 'deap.creator.Individual' so we can
     # used in GA algorithm in DEAP library
    for rule in list_encoded_association_rules:
        pop.append(creator.Individual(rule))
    
    # CXPB is the probability of two individuals
     # crossed
     #
     # MUTPB is the probability of an individual
     # have mutation
    CXPB, MUTPB = 0.5, 0.2

    print('Start of evolution')

    # Calculate the fitness value of all individuals in the population
     # by using saved 'evalOneMax'
     # in 'toolbox.evaluate' in cell
     # 'Genetic Operator Registration'
    fitnesses = list(map(toolbox.evaluate, pop))
    for ind, fit in zip(pop, fitnesses):
        ind.fitness.values = fit

    print('  Evaluated %i individuals' % len(pop))

    # Extraction of the fitness value of each individual 'ind'
     # in population 'pop' and save in list 'fits'
    fits = [ind.fitness.values[0] for ind in pop]
    
    length = len(pop)
    mean = sum(fits) / length
    sum2 = sum(x*x for x in fits)
    std = abs(sum2 / length - mean*2)*0.5
        
    mins.append(min(fits))
    maxs.append(max(fits))
    means.append(mean)
    stds.append(std)
    
    print('  Min %s' % min(fits))
    print('  Max %s' % max(fits))
    print('  Avg %s' % mean)
    print('  Std %s' % std)        
    
    # Variable 'g' for total generation monitoring
     # where one generation equals one iteration
    g = 0

    # Perform evolution during 'g' generation
     # smaller than 100
    while g < 100:
        # Sthe new generation
        g = g + 1
        print('-- Generation %i --' % g)

        # Select individuals for the next generation
        offspring = toolbox.select(pop, len(pop))
        # Clone selected individuals
        offspring = list(map(toolbox.clone, offspring))

        # Apply crosses and mutations to
         # individuals that are 'offspring' offspring
        for child1, child2 in zip(offspring[::2], offspring[1::2]):

            # Cross two individuals using
             # CXPB
            if random.random() < CXPB:
                toolbox.mate(child1, child2)

                # Delete the result's fitness value
                 # crosses because they are invalid
                del child1.fitness.values
                del child2.fitness.values

        for mutant in offspring:

            # Mutation of an individual using
             # MUTPB
            if random.random() < MUTPB:
                toolbox.mutate(mutant)
                del mutant.fitness.values

        # Recalculate individual fitness values
         # 'offspring'
        invalid_ind = [ind for ind in offspring if not ind.fitness.valid]
        fitnesses = map(toolbox.evaluate, invalid_ind)
        for ind, fit in zip(invalid_ind, fitnesses):
            ind.fitness.values = fit

        print('  Evaluated %i individuals' % len(invalid_ind))

        # Replace the whole population using
         # offspring
        pop[:] = offspring

        # Collect all fitness in a list
         # and to display statistics like
         # min, max, mean and standard deviation
        fits = [ind.fitness.values[0] for ind in pop]

        length = len(pop)
        mean = sum(fits) / length
        sum2 = sum(x*x for x in fits)
        std = abs(sum2 / length - mean*2)*0.5
        
        mins.append(min(fits))
        maxs.append(max(fits))
        means.append(mean)
        stds.append(std)
        
        print('  Min %s' % min(fits))
        print('  Max %s' % max(fits))
        print('  Avg %s' % mean)
        print('  Std %s' % std)

    print('-- End of (successful) evolution --')
    print('\n')
    
    # Show final population
    print('-- Final Population --')
    df_fits = pd.DataFrame(fits, columns =['kulczynski']) 
    df_pop = michigan_decoding(pop, [*restaurant_replace_map_comp.values()])
    df_pop = pd.concat([df_pop, df_fits], axis=1)
    print('\n')
    
    return df_pop

if __name__ == '__main__':
    df_hasil = main()

Start of evolution
  Evaluated 1714 individuals
  Min 0.02119309262166405
  Max 0.11652188439692615
  Avg 0.03343791297628511
  Std 0.03280754231621501
-- Generation 1 --
  Evaluated 1016 individuals
  Min 0.0
  Max 0.5068493150684932
  Avg 0.08699949304954528
  Std 0.07178488853854795
-- Generation 2 --
  Evaluated 1040 individuals
  Min 0.0
  Max 0.5092592592592593
  Avg 0.165760018824214
  Std 0.13006193428371016
-- Generation 3 --
  Evaluated 978 individuals
  Min 0.0
  Max 0.5074626865671642
  Avg 0.25588368714536086
  Std 0.1963931945098193
-- Generation 4 --
  Evaluated 1058 individuals
  Min 0.0
  Max 0.5074626865671642
  Avg 0.33340977836641994
  Std 0.25286279052435445
-- Generation 5 --
  Evaluated 1010 individuals
  Min 0.0
  Max 0.5074626865671642
  Avg 0.39441311597618167
  Std 0.29716966181869575
-- Generation 6 --
  Evaluated 993 individuals
  Min 0.0
  Max 0.5073529411764706
  Avg 0.42086308355175606
  Std 0.31617176612594444
-- Generation 7 --
  Evaluated 1020 individuals
  Min 0.0
  Max 0.5073529411764706
  Avg 0.43070946685644923
  Std 0.3233840583688836
-- Generation 8 --
  Evaluated 996 individuals
  Min 0.0
  Max 1.0
  Avg 0.4230387246412275
  Std 0.31746614498341724
-- Generation 9 --
  Evaluated 1045 individuals
  Min 0.0
  Max 0.5073529411764706
  Avg 0.42012340829499845
  Std 0.3153827700546036
-- Generation 10 --
  Evaluated 1013 individuals
  Min 0.0
  Max 0.5117647058823529
  Avg 0.42150075688144717
  Std 0.3164236515803205
-- Generation 11 --
  Evaluated 1061 individuals
  Min 0.0
  Max 0.5117647058823529
  Avg 0.42366521143064273
  Std 0.3181602705809006
-- Generation 12 --
  Evaluated 1026 individuals
  Min 0.0
  Max 0.5117647058823529
  Avg 0.4261052685164305
  Std 0.3199029934535448
-- Generation 13 --
  Evaluated 977 individuals
  Min 0.0
  Max 0.5117647058823529
  Avg 0.42270340633934805
  Std 0.3173782898111726
-- Generation 14 --
  Evaluated 1057 individuals
  Min 0.0
  Max 0.5117647058823529
  Avg 0.41463274670669686
  Std 0.31155062116700766
-- Generation 15 --
  Evaluated 1041 individuals
  Min 0.0
  Max 0.5117647058823529
  Avg 0.41698814775184395
  Std 0.31317371643369857
-- Generation 16 --
  Evaluated 1009 individuals
  Min 0.0
  Max 0.5117647058823529
  Avg 0.4111755972045293
  Std 0.30866750503266605
-- Generation 17 --
  Evaluated 1034 individuals
  Min 0.0
  Max 1.0
  Avg 0.3974551493590809
  Std 0.2983763759508453
-- Generation 18 --
  Evaluated 1030 individuals
  Min 0.0
  Max 1.0
  Avg 0.4060013290294186
  Std 0.30426569370250944
-- Generation 19 --
  Evaluated 1005 individuals
  Min 0.0
  Max 1.0
  Avg 0.40809739982920695
  Std 0.3058748145718258
-- Generation 20 --
  Evaluated 1014 individuals
  Min 0.0
  Max 1.0
  Avg 0.4054051955032407
  Std 0.3032012099713418
-- Generation 21 --
  Evaluated 1030 individuals
  Min 0.0
  Max 1.0
  Avg 0.4112833548469373
  Std 0.30620775835837216
-- Generation 22 --
  Evaluated 984 individuals
  Min 0.0
  Max 1.0
  Avg 0.4147814742379491
  Std 0.3068904659550294
-- Generation 23 --
  Evaluated 1024 individuals
  Min 0.0
  Max 1.0
  Avg 0.42189750231756123
  Std 0.31048845715948803
-- Generation 24 --
  Evaluated 1068 individuals
  Min 0.0
  Max 1.0
  Avg 0.42550781288416273
  Std 0.31001833273124435
-- Generation 25 --
  Evaluated 1067 individuals
  Min 0.0
  Max 1.0
  Avg 0.4122058826992021
  Std 0.29900438098900173
-- Generation 26 --
  Evaluated 1064 individuals
  Min 0.0
  Max 1.0
  Avg 0.4150785965613274
  Std 0.29573607787651207
-- Generation 27 --
  Evaluated 1072 individuals
  Min 0.0
  Max 1.0
  Avg 0.42788401565850515
  Std 0.2993680629846885
-- Generation 28 --
  Evaluated 1014 individuals
  Min 0.0
  Max 1.0
  Avg 0.43407785353880823
  Std 0.2977906002862666
-- Generation 29 --
  Evaluated 1013 individuals
  Min 0.0
  Max 1.0
  Avg 0.4697983719770478
  Std 0.31011530251866937
-- Generation 30 --
  Evaluated 1076 individuals
  Min 0.0
  Max 1.0
  Avg 0.5098907707822768
  Std 0.32130231607671766
-- Generation 31 --
  Evaluated 1026 individuals
  Min 0.0
  Max 1.0
  Avg 0.5305319767061496
  Std 0.324022737766279
-- Generation 32 --
  Evaluated 983 individuals
  Min 0.0
  Max 1.0
  Avg 0.5878694382927002
  Std 0.34330528421777545
-- Generation 33 --
  Evaluated 1001 individuals
  Min 0.0
  Max 1.0
  Avg 0.6488834602147926
  Std 0.3653535273579682
-- Generation 34 --
  Evaluated 1063 individuals
  Min 0.0
  Max 1.0
  Avg 0.6935792009617878
  Std 0.3802899997278321
-- Generation 35 --
  Evaluated 986 individuals
  Min 0.0
  Max 1.0
  Avg 0.7384368184993148
  Std 0.3950847164746811
-- Generation 36 --
  Evaluated 1072 individuals
  Min 0.0
  Max 1.0
  Avg 0.7930458773670896
  Std 0.41870491485632605
-- Generation 37 --
  Evaluated 1001 individuals
  Min 0.0
  Max 1.0
  Avg 0.8300095210229207
  Std 0.43112637462272957
-- Generation 38 --
  Evaluated 1013 individuals
  Min 0.0
  Max 1.0
  Avg 0.8603584358587255
  Std 0.4421827381977835
-- Generation 39 --
  Evaluated 1050 individuals
  Min 0.0
  Max 1.0
  Avg 0.8748695410269924
  Std 0.44704878144937793
-- Generation 40 --
  Evaluated 989 individuals
  Min 0.0
  Max 1.0
  Avg 0.8913440526451141
  Std 0.4527053638251248
-- Generation 41 --
  Evaluated 1065 individuals
  Min 0.0
  Max 1.0
  Avg 0.8932048149003113
  Std 0.45335785224338665
-- Generation 42 --
  Evaluated 982 individuals
  Min 0.0
  Max 1.0
  Avg 0.9027052108186248
  Std 0.4567409066709731
-- Generation 43 --
  Evaluated 1045 individuals
  Min 0.0
  Max 1.0
  Avg 0.9126996348018566
  Std 0.4601931612523504
-- Generation 44 --
  Evaluated 1017 individuals
  Min 0.0
  Max 1.0
  Avg 0.9061666527754619
  Std 0.45606276038428056
-- Generation 45 --
  Evaluated 1039 individuals
  Min 0.0
  Max 1.0
  Avg 0.9163732591745997
  Std 0.46151045920831313
-- Generation 46 --
  Evaluated 1050 individuals
  Min 0.0
  Max 1.0
  Avg 0.907663571692573
  Std 0.45753226491739424
-- Generation 47 --
  Evaluated 986 individuals
  Min 0.0
  Max 1.0
  Avg 0.9016781465701492
  Std 0.45422152424278384
-- Generation 48 --
  Evaluated 1084 individuals
  Min 0.0
  Max 1.0
  Avg 0.9100279886665518
  Std 0.45753164298677473
-- Generation 49 --
  Evaluated 989 individuals
  Min 0.0
  Max 1.0
  Avg 0.916000583430571
  Std 0.4611660522702847
-- Generation 50 --
  Evaluated 1047 individuals
  Min 0.0
  Max 1.0
  Avg 0.927162236754771
  Std 0.465375654615195
-- Generation 51 --
  Evaluated 1000 individuals
  Min 0.0
  Max 1.0
  Avg 0.9121947407901316
  Std 0.45716247595360904
-- Generation 52 --
  Evaluated 1058 individuals
  Min 0.0
  Max 1.0
  Avg 0.920107073157417
  Std 0.4608897719466634
-- Generation 53 --
  Evaluated 1042 individuals
  Min 0.0
  Max 1.0
  Avg 0.9142934884858974
  Std 0.45835796851953015
-- Generation 54 --
  Evaluated 1018 individuals
  Min 0.0
  Max 1.0
  Avg 0.9295724055861159
  Std 0.46627694309051093
-- Generation 55 --
  Evaluated 1017 individuals
  Min 0.0
  Max 1.0
  Avg 0.9167540205705922
  Std 0.46035388019872103
-- Generation 56 --
  Evaluated 1053 individuals
  Min 0.0
  Max 1.0
  Avg 0.9159997281885284
  Std 0.45939541853712124
-- Generation 57 --
  Evaluated 1035 individuals
  Min 0.0
  Max 1.0
  Avg 0.9207960768802594
  Std 0.46126492045024947
-- Generation 58 --
  Evaluated 1048 individuals
  Min 0.0
  Max 1.0
  Avg 0.9086408285396493
  Std 0.45535746660266707
-- Generation 59 --
  Evaluated 1028 individuals
  Min 0.0
  Max 1.0
  Avg 0.9217126381861986
  Std 0.4625617354257379
-- Generation 60 --
  Evaluated 1022 individuals
  Min 0.0
  Max 1.0
  Avg 0.9261412964538924
  Std 0.4637786719039571
-- Generation 61 --
  Evaluated 1060 individuals
  Min 0.0
  Max 1.0
  Avg 0.9245188038162305
  Std 0.4627677924452113
-- Generation 62 --
  Evaluated 1028 individuals
  Min 0.0
  Max 1.0
  Avg 0.913251977181382
  Std 0.4573369122798757
-- Generation 63 --
  Evaluated 1028 individuals
  Min 0.0
  Max 1.0
  Avg 0.9216836798997787
  Std 0.4619274640421829
-- Generation 64 --
  Evaluated 1032 individuals
  Min 0.0
  Max 1.0
  Avg 0.9277493975640492
  Std 0.4649704907296047
-- Generation 65 --
  Evaluated 1016 individuals
  Min 0.0
  Max 1.0
  Avg 0.9178793238618819
  Std 0.4598065411364977
-- Generation 66 --
  Evaluated 981 individuals
  Min 0.0
  Max 1.0
  Avg 0.9262501185244525
  Std 0.46426336624889586
-- Generation 67 --
  Evaluated 1050 individuals
  Min 0.0
  Max 1.0
  Avg 0.9293938586917609
  Std 0.4656914629405029
-- Generation 68 --
  Evaluated 1068 individuals
  Min 0.0
  Max 1.0
  Avg 0.9191881510015131
  Std 0.460442735285515
-- Generation 69 --
  Evaluated 1034 individuals
  Min 0.0
  Max 1.0
  Avg 0.9332831825946725
  Std 0.46747811388731836
-- Generation 70 --
  Evaluated 1043 individuals
  Min 0.0
  Max 1.0
  Avg 0.9175023117087839
  Std 0.4598813483751796
-- Generation 71 --
  Evaluated 990 individuals
  Min 0.0
  Max 1.0
  Avg 0.9203641635228555
  Std 0.46137103914649497
-- Generation 72 --
  Evaluated 1023 individuals
  Min 0.0
  Max 1.0
  Avg 0.9298697454335063
  Std 0.46631214123044895
-- Generation 73 --
  Evaluated 1031 individuals
  Min 0.0
  Max 1.0
  Avg 0.9288437662823352
  Std 0.4657809415756223
-- Generation 74 --
  Evaluated 1039 individuals
  Min 0.0
  Max 1.0
  Avg 0.9174902277434355
  Std 0.45954716835275716
-- Generation 75 --
  Evaluated 995 individuals
  Min 0.0
  Max 1.0
  Avg 0.9236132719650805
  Std 0.4626826663504558
-- Generation 76 --
  Evaluated 1007 individuals
  Min 0.0
  Max 1.0
  Avg 0.9191953654069048
  Std 0.46071071661523516
-- Generation 77 --
  Evaluated 1003 individuals
  Min 0.0
  Max 1.0
  Avg 0.92272446008829
  Std 0.46187262869384127
-- Generation 78 --
  Evaluated 1009 individuals
  Min 0.0
  Max 1.0
  Avg 0.9173322419408207
  Std 0.459607997817586
-- Generation 79 --
  Evaluated 1012 individuals
  Min 0.0
  Max 1.0
  Avg 0.9214685711125543
  Std 0.4616255056569291
-- Generation 80 --
  Evaluated 1000 individuals
  Min 0.0
  Max 1.0
  Avg 0.9094074686586815
  Std 0.4556354795550186
-- Generation 81 --
  Evaluated 1078 individuals
  Min 0.0
  Max 1.0
  Avg 0.9166471032209071
  Std 0.4591276910785652
-- Generation 82 --
  Evaluated 1022 individuals
  Min 0.0
  Max 1.0
  Avg 0.9228873603726657
  Std 0.46238146050276757
-- Generation 83 --
  Evaluated 989 individuals
  Min 0.0
  Max 1.0
  Avg 0.9230607429872916
  Std 0.4621522032442034
-- Generation 84 --
  Evaluated 995 individuals
  Min 0.0
  Max 1.0
  Avg 0.9268004417264679
  Std 0.46414969157211294
-- Generation 85 --
  Evaluated 1007 individuals
  Min 0.0
  Max 1.0
  Avg 0.9280451644511231
  Std 0.46515887611700996
-- Generation 86 --
  Evaluated 1007 individuals
  Min 0.0
  Max 1.0
  Avg 0.9144149466780728
  Std 0.45810883506885147
-- Generation 87 --
  Evaluated 1055 individuals
  Min 0.0
  Max 1.0
  Avg 0.9162390249542528
  Std 0.45926995688715416
-- Generation 88 --
  Evaluated 1025 individuals
  Min 0.0
  Max 1.0
  Avg 0.9207677781441359
  Std 0.461734866427443
-- Generation 89 --
  Evaluated 986 individuals
  Min 0.0
  Max 1.0
  Avg 0.9315854459348587
  Std 0.46658669049220064
-- Generation 90 --
  Evaluated 1016 individuals
  Min 0.0
  Max 1.0
  Avg 0.9187824836477718
  Std 0.4600738459615887
-- Generation 91 --
  Evaluated 1013 individuals
  Min 0.0
  Max 1.0
  Avg 0.9201093124881418
  Std 0.4608202607041073
-- Generation 92 --
  Evaluated 1051 individuals
  Min 0.0
  Max 1.0
  Avg 0.9245714479878328
  Std 0.46316482205128734
-- Generation 93 --
  Evaluated 1045 individuals
  Min 0.0
  Max 1.0
  Avg 0.9159183748009964
  Std 0.45859518133105537
-- Generation 94 --
  Evaluated 1089 individuals
  Min 0.0
  Max 1.0
  Avg 0.9174332738066682
  Std 0.4596017789756916
-- Generation 95 --
  Evaluated 1058 individuals
  Min 0.0
  Max 1.0
  Avg 0.9214734406725114
  Std 0.4615914561601188
-- Generation 96 --
  Evaluated 1019 individuals
  Min 0.0
  Max 1.0
  Avg 0.9278491763782999
  Std 0.4646892503572485
-- Generation 97 --
  Evaluated 972 individuals
  Min 0.0
  Max 1.0
  Avg 0.9263620262258561
  Std 0.4643203796929952
-- Generation 98 --
  Evaluated 1033 individuals
  Min 0.0
  Max 1.0
  Avg 0.915679188654162
  Std 0.45873285195994323
-- Generation 99 --
  Evaluated 1051 individuals
  Min 0.0
  Max 1.0
  Avg 0.9242128569572041
  Std 0.46331764512638735
-- Generation 100 --
  Evaluated 984 individuals
  Min 0.0
  Max 1.0
  Avg 0.9152747932058385
  Std 0.459059270007357
-- End of (successful) evolution --


-- Final Population --

In [ ]:
display(df_hasil.head())

   antecedents  ... kulczynski
0  [2, 84, 92]  ...        1.0
1      [2, 92]  ...        1.0
2      [2, 92]  ...        1.0
3      [2, 92]  ...        1.0
4      [2, 92]  ...        1.0

[5 rows x 4 columns]

In [ ]:
print('Nilai fitness minimum pada populasi sebelum GA %s' %round(mins[0], 4))
print('Nilai fitness minimum pada populasi setelah GA %s' %round(mins[-1], 4))
        
print("Nilai fitness maksimum pada populasi sebelum GA %s" %round(maxs[0], 4))
print("Nilai fitness maksimum pada populasi setelah GA %s" %round(maxs[-1], 4))
        
print("Rata-rata nilai fitness pada populasi sebelum GA %s" %round(means[0], 4))
print("Rata-rata nilai fitness pada populasi setelah GA %s" %round(means[-1], 4))
        
print("Standar deviasi nilai fitness pada populasi sebelum GA %s" %round(stds[0], 4))
print("Standar deviasi nilai fitness pada populasi setelah GA %s" %round(stds[-1], 4))

Nilai fitness minimum pada populasi sebelum GA 0.0212
Nilai fitness minimum pada populasi setelah GA 0.0
Nilai fitness maksimum pada populasi sebelum GA 0.1165
Nilai fitness maksimum pada populasi setelah GA 1.0
Rata-rata nilai fitness pada populasi sebelum GA 0.0334
Rata-rata nilai fitness pada populasi setelah GA 0.9153
Standar deviasi nilai fitness pada populasi sebelum GA 0.0328
Standar deviasi nilai fitness pada populasi setelah GA 0.4591

In [ ]:
# remove duplicate association rules
df_hasil['new'] = df_hasil.chromosome.apply(tuple)
df_hasil_akhir = df_hasil.sort_values('kulczynski', ascending=False).drop_duplicates('new').drop(['new'], axis=1)
df_hasil_akhir = df_hasil_akhir[df_hasil_akhir["kulczynski"] != 0.00].reset_index(drop=True)

# remove association rules with missing antecedent/consequent values
# or with more than one item in antecedent / consequent
for id, baris in df_hasil_akhir.iterrows():
    if len(baris['antecedents']) == 0 or len(baris['consequents']) == 0:
        df_hasil_akhir.drop(id, inplace=True)

In [ ]:
display(df_hasil_akhir.head())

   antecedents  ... kulczynski
0  [2, 84, 92]  ...        1.0
1  [2, 84, 92]  ...        1.0
2      [2, 92]  ...        1.0
3      [2, 92]  ...        1.0
4      [2, 84]  ...        1.0

[5 rows x 4 columns]

In [ ]:
# Check the association rules whether the antecedent contains all restaurants
# in the dataset
for i in range(100):
    if [i+1] in df_hasil_akhir['antecedents'].tolist() == False:
        print(i+1, " tidak ada")

In [ ]:
def lookup_item(k):
    return list(restaurant_replace_map_comp.keys())[list(restaurant_replace_map_comp.values()).index(k)]

for baris in df_hasil_akhir.itertuples():
    print("Aturan Asosiasi #{0}".format(baris.Index + 1))
    (premise, conclusion) = (baris.antecedents, baris.consequents)
    premise_names = ", ".join(lookup_item(elemen) for elemen in premise)
    conclusion_names = ", ".join(lookup_item(elemen) for elemen in conclusion)
    print("Aturan Asosiasi: Jika seseorang merekomendasi {0}, maka ia juga akan merekomendasi {1}".format(premise_names, conclusion_names))
    print(" - Kulczynski: {0:.2f}".format(baris.kulczynski))
    print("\n")

Aturan Asosiasi #1
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #2
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #3
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #4
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #5
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #6
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #7
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #8
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #9
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #10
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #11
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #12
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Tempteys, The Chocolate Room
 - Kulczynski: 1.00


Aturan Asosiasi #13
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #14
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Barbeque Nation, Dunkin' Donuts, The Foodie Monster Kitchen
 - Kulczynski: 1.00


Aturan Asosiasi #15
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, The Foodie Monster Kitchen
 - Kulczynski: 1.00


Aturan Asosiasi #16
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, The Foodie Monster Kitchen
 - Kulczynski: 1.00


Aturan Asosiasi #17
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Barbeque Nation, Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #18
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #19
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, PourHouse7, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #20
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, The Chocolate Room, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #21
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #22
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7, The Chocolate Room
 - Kulczynski: 1.00


Aturan Asosiasi #23
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #24
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, The Foodie Monster Kitchen
 - Kulczynski: 1.00


Aturan Asosiasi #25
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, The Foodie Monster Kitchen
 - Kulczynski: 1.00


Aturan Asosiasi #26
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tempteys, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #27
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Mustang Terrace Lounge, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #28
Aturan Asosiasi: Jika seseorang merekomendasi Dunkin' Donuts, Tiki Shack, maka ia juga akan merekomendasi 13 Dhaba, Mustang Terrace Lounge, Tempteys, The Foodie Monster Kitchen
 - Kulczynski: 1.00


Aturan Asosiasi #29
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #30
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #31
Aturan Asosiasi: Jika seseorang merekomendasi Mustang Terrace Lounge, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi 13 Dhaba, Dunkin' Donuts
 - Kulczynski: 1.00


Aturan Asosiasi #32
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Barbeque Nation, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #33
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, maka ia juga akan merekomendasi Barbeque Nation, Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #34
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys, The Foodie Monster Kitchen
 - Kulczynski: 1.00


Aturan Asosiasi #35
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #36
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #37
Aturan Asosiasi: Jika seseorang merekomendasi Barbeque Nation, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #38
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tempteys, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7
 - Kulczynski: 1.00


Aturan Asosiasi #39
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #40
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Barbeque Nation, Dunkin' Donuts, Mustang Terrace Lounge, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #41
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys, The Foodie Monster Kitchen
 - Kulczynski: 1.00


Aturan Asosiasi #42
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #43
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #44
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #45
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, The Chocolate Room
 - Kulczynski: 1.00


Aturan Asosiasi #46
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys, The Chocolate Room
 - Kulczynski: 1.00


Aturan Asosiasi #47
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, PourHouse7, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #48
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, maka ia juga akan merekomendasi Dunkin' Donuts, Tempteys
 - Kulczynski: 1.00


Aturan Asosiasi #49
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Foodie Monster Kitchen, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 1.00


Aturan Asosiasi #50
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tempteys, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 0.75


Aturan Asosiasi #51
Aturan Asosiasi: Jika seseorang merekomendasi Barbeque Nation, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 0.67


Aturan Asosiasi #52
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Mustang Terrace Lounge, maka ia juga akan merekomendasi Dunkin' Donuts, Tiki Shack
 - Kulczynski: 0.67


Aturan Asosiasi #53
Aturan Asosiasi: Jika seseorang merekomendasi PourHouse7, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys
 - Kulczynski: 0.58


Aturan Asosiasi #54
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Barbeque Nation, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts
 - Kulczynski: 0.51


Aturan Asosiasi #55
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts
 - Kulczynski: 0.51


Aturan Asosiasi #56
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts
 - Kulczynski: 0.51


Aturan Asosiasi #57
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge
 - Kulczynski: 0.51


Aturan Asosiasi #58
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, Tempteys
 - Kulczynski: 0.51


Aturan Asosiasi #59
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, Tiki Shack, maka ia juga akan merekomendasi Mustang Terrace Lounge
 - Kulczynski: 0.51


Aturan Asosiasi #60
Aturan Asosiasi: Jika seseorang merekomendasi 13 Dhaba, The Chocolate Room, Tiki Shack, maka ia juga akan merekomendasi Mustang Terrace Lounge
 - Kulczynski: 0.51


Aturan Asosiasi #61
Aturan Asosiasi: Jika seseorang merekomendasi Tiki Shack, maka ia juga akan merekomendasi Dunkin' Donuts, Mustang Terrace Lounge, The Foodie Monster Kitchen
 - Kulczynski: 0.51

## 6. Rekomendasi Restoran

In [1]:
def lookup_id_restoran(nama_restoran):
    return int(restaurant_replace_map_comp.get(nama_restoran))

def rekomendasi_restoran(id_restoran_prefensi):
    list_temp = []

    for indeks, baris in df_hasil_akhir.iterrows():
        if id_restoran_prefensi in baris['antecedents']:
            list_temp.append(baris)
    df_extract = pd.DataFrame(list_temp,
                           columns = ['antecedents',
                                      'consequents',
                                      'chromosome',
                                      'kulczynski']).reset_index(drop=True)
    
    # sort rows in df_extract by column kulczynski
    df_extract = df_extract.sort_values('kulczynski', ascending=False)
    
    # select the top 3 association rules
     # df_extract = df_extract.head(3)

    # combine each item in consequent
    list_top_restaurant = []
    for i in df_extract['consequents']:
        list_top_restaurant = list_top_restaurant + i

    list_rekomendasi = []
    for i in list_top_restaurant:
        list_rekomendasi = list_rekomendasi + [lookup_item(i)]

    return list(dict.fromkeys(list_rekomendasi))

In [ ]:
# Enter preferred restaurant
x = input('')
print('Rekomendasi adalah', rekomendasi_restoran(lookup_id_restoran(x)))